# Server Config
PORT=4000 || the port your server will run on
NETWORK=mainnet || mainnet, testnet, or devnet depending on your target environment

# Database (Required for your User/Wallet models)
MONGO_URI=mongodb://localhost:27017/kamon_index || your MongoDB connection string if using a cloud provider

# Security (CRITICAL for the Attestation API)
JWT_SECRET=your_super_secret_kamon_key_123 || generate a random string for production

#optional: Redis - future proof caching
REDIS_URL=redis://localhost:6379 || your REDIS_URL if using a cloud provider

#Optional: Debug Mode (Enables verbose logging and additional endpoints for debugging)
DEBUG_MODE=false
